{#{%extends 'layout.html' %}#}
{#{% block content %}#}
{#<!-- ============================================================== -->#}
{#<!-- Start right Content here -->#}
{#<!-- ============================================================== -->#}
{##}
{#        <div class="container-fluid">#}
{#            <div class="card mt">#}
{#                <div class="position-relative mx-n4">#}
{#                    <div class="overlay-content">#}
{#                        <div class="card-body p-6">#}
{#                            <div class="text-center">#}
{#                                <form method="POST" action="{{url_for('admin_auth_v2.admin_update')}}" enctype="multipart/form-data" >#}
{#                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">#}
{#                                    <img src="{{ data['image_path'] }}{{ data['image_name'] }}"#}
{#                                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"#}
{#                                        alt="user-profile-image">#}
{#                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">#}
{#                                        <input id="profile-img-file-input" type="file" name="image_name" value="{{ data['image_name'] }}"#}
{#                                            class="profile-img-file-input" >#}
{#                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">#}
{#                                            <span class="avatar-title rounded-circle bg-light text-body">#}
{#                                                <i class="ri-camera-fill"></i>#}
{#                                            </span>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    #}
{#                                </div>#}
{#                                <h5 class="fs-16 mb-1">{{ data['fullname'] }}</h5>#}
{#                        <p class="text-muted mb-0">Lead Designer / Developer</p>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                        #}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            #}
{#            <br>#}
{#            <div class="row">#}
{#                <div class="col-xxl-12">#}
{#                    <div class="card mt-xxl-n6">#}
{##}
{#                        <div class="card-header">#}
{#                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">#}
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">#}
{#                                        <i class="fas fa-home"></i> Personal Details#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">#}
{#                                        <i class="far fa-user"></i> Change Password#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="card-body p-4">#}
{#                            <div class="tab-content">#}
{#                                <div class="tab-pane active" id="personalDetails" role="tabpanel">#}
{#                                    <form action="{{ url_for('admin_auth_v2.admin_update') }}" method="POST" enctype="multipart/form-data">#}
{#                                        <div class="row">#}
{#                                            <div class="col-lg-6">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="firstnameInput" class="form-label">Full Name</label>#}
{#                                                    <input type="text" class="form-control" id="firstnameInput"#}
{#                                                        placeholder="Enter your fullname" name="fullName" value="{{ data['fullname'] }}">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <!--end col-->#}
{#                                            <div class="col-lg-6">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="lastnameInput" class="form-label">Last Name</label>#}
{#                                                    <input type="text" class="form-control" id="lastnameInput"#}
{#                                                        placeholder="Enter your lastname" name="lname" value="{{current_user.lname}}">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <!--end col-->#}
{#                                            <div class="col-lg-6">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="phonenumberInput" class="form-label">Phone#}
{#                                                        Number</label>#}
{#                                                    <input type="text" class="form-control" id="phonenumberInput"#}
{#                                                        placeholder="Enter your phone number" name="adminPhonenumber" value="{{ data['phonenumber'] }}">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <!--end col-->#}
{#                                            <div class="col-lg-6">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="emailInput" class="form-label">Email Address</label>#}
{#                                                    <input type="email" class="form-control" id="emailInput"#}
{#                                                        placeholder="Enter your email" name="adminEmail" value="{{ data['email'] }}">#}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                            <!--end col-->#}
{##}
{#                                            <!--#}
{#                                                   #}
{#                                                    <div class="col-lg-4">#}
{#                                                        <div class="mb-3">#}
{#                                                            <label for="cityInput" class="form-label">City</label>#}
{#                                                            <input type="text" class="form-control" id="cityInput" placeholder="City" value="California" />#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    #}
{#                                                    <div class="col-lg-4">#}
{#                                                        <div class="mb-3">#}
{#                                                            <label for="countryInput" class="form-label">Country</label>#}
{#                                                            <input type="text" class="form-control" id="countryInput" placeholder="Country" value="United States" />#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    #}
{#                                                    <div class="col-lg-4">#}
{#                                                        <div class="mb-3">#}
{#                                                            <label for="zipcodeInput" class="form-label">Zip Code</label>#}
{#                                                            <input type="text" class="form-control" minlength="5" maxlength="6" id="zipcodeInput" placeholder="Enter zipcode" value="90011">#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                     -->#}
{#                                            <div class="col-lg-12">#}
{#                                                <div class="hstack gap-2 justify-content-end">#}
{#                                                    <button type="submit" class="btn btn-primary" style="background-color: #ffb33f; border-color: #ffb33f;">Updates</button>#}
{#                                                    <a type="button" href="{{url_for('admin_auth_v2.admin_profile')}}" class="btn btn-secondary">Cancel</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                </div>#}
{##}
{##}
{#                                        </form>#}
{##}
{#                                            <!--end col-->#}
{#                                        <!--end row-->#}
{#                                </div>#}
{##}
{#                                <!--end tab-pane-->#}
{#                                <div class="tab-pane" id="changePassword" role="tabpanel">#}
{#                                    <form action="{{hi}}" method='POST'>#}
{#                                        <div class="col-lg-6">#}
{#                                            <div>#}
{#                                                <label for="oldpasswordInput" class="form-label">Old Password*</label>#}
{#                                                <input type="password" class="form-control" name="old_pass" id="oldpasswordInput"#}
{#                                                    placeholder="Enter current password" required>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <br>#}
{#                                        <!--end col-->#}
{#                                        <div class="col-lg-6">#}
{#                                            <div>#}
{#                                                <label for="newpasswordInput" class="form-label">New Password*</label>#}
{#                                                <input type="password" class="form-control" name="password" id="newpasswordInput"#}
{#                                                    placeholder="Enter new password" required>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <br>#}
{#                                        <!--end col-->#}
{#                                        <div class="col-lg-6">#}
{#                                            <div>#}
{#                                                <label for="confirmpasswordInput" class="form-label">Confirm#}
{#                                                    Password*</label>#}
{#                                                <input type="password" name="confirm_password" class="form-control" id="confirmpasswordInput"#}
{#                                                    placeholder="Confirm password" required>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <br>#}
{#                                        <!--end col-->#}
{#                                        <div class="col-lg-12">#}
{#                                            <div class="mb-3">#}
{#                                                <a href="javascript:void(0);"#}
{#                                                    class="link-primary text-decoration-underline">Forgot Password ?</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <br>#}
{#                                        <!--end col-->#}
{#                                        <div class="col-lg-12">#}
{##}
{#                                            <button type="submit" class="btn btn-success">Change Password</button>#}
{##}
{#                                        </div>#}
{#                                        <!--end col-->#}
{#                                        <!--end row-->#}
{#                                    </form>#}
{#                                </div>#}
{#                                <!--end tab-pane-->#}
{##}
{#                            </div>#}
{#                            <!-- container-fluid -->#}
{#                        </div><!-- End Page-content -->#}
{##}
{#                        {% endblock %}#}

{%extends 'layout.html' %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

        <div class="container-fluid">
            <div class="card mt">
                <div class="position-relative mx-n4">
                    <div class="overlay-content">
                        <div class="card-body p-6">
                            <div class="text-center">
                                <form method="POST" action="{{url_for('admin_auth_v2.admin_update')}}" enctype="multipart/form-data" >
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    <img src="{{ data['image_path'] }}"
                                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                                        alt="user-profile-image">
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <input id="profile-img-file-input" type="file" name="imageName"
                                            class="profile-img-file-input">
                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                            <span class="avatar-title rounded-circle bg-light text-body">
                                                <i class="ri-camera-fill"></i>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                                <h5 class="fs-16 mb-1">{{ data['fullname'] }}</h5>
                        <p class="text-muted mb-0">Lead Designer / Developer</p>
{#                                </form>#}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="card mt-xxl-n6">

                        <div class="card-header">
                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                        <i class="fas fa-home"></i> Personal Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                        <i class="far fa-user"></i> Change Password
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                    <form action="javascript:void(0);">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="firstnameInput" class="form-label">Full Name</label>
                                                    <input type="text" class="form-control" id="firstnameInput"
                                                        placeholder="Enter your firstname" name="fullName" value="{{ data['fullname'] }}">
                                                </div>
                                            </div>
                                            <!--end col-->
{#                                            <div class="col-lg-6">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="lastnameInput" class="form-label">Last Name</label>#}
{#                                                    <input type="text" class="form-control" id="lastnameInput"#}
{#                                                        placeholder="Enter your lastname" name="lname" value="{{current_user.lname}}">#}
{#                                                </div>#}
{#                                            </div>#}
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="phonenumberInput" class="form-label">Phone
                                                        Number</label>
                                                    <input type="text" class="form-control" id="phonenumberInput"
                                                        placeholder="Enter your phone number" name="adminPhonenumber" value="{{ data['phonenumber'] }}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="emailInput" class="form-label">Email Address</label>
                                                    <input type="text" class="form-control" id="emailInput"
                                                        placeholder="Enter your email" name="adminEmail" value="{{ data['email'] }}">
                                                </div>
                                            </div>

                                            <!--end col-->

                                            <!--

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="cityInput" class="form-label">City</label>
                                                            <input type="text" class="form-control" id="cityInput" placeholder="City" value="California" />
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="countryInput" class="form-label">Country</label>
                                                            <input type="text" class="form-control" id="countryInput" placeholder="Country" value="United States" />
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="zipcodeInput" class="form-label">Zip Code</label>
                                                            <input type="text" class="form-control" minlength="5" maxlength="6" id="zipcodeInput" placeholder="Enter zipcode" value="90011">
                                                        </div>
                                                    </div>
                                                     -->
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="submit" class="btn btn-success btn-border">Updates</button>
                                                    <a type="button" href="{{url_for('admin_auth_v2.admin_update')}}" >Cancel</a>
                                                </div>
                                            </div>
{#                                        </form>#}
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>

                                </div>

                                <!--end tab-pane-->
                                <div class="tab-pane" id="changePassword" role="tabpanel">
                                    <form action="{{url_for('admin_auth_v2.change_password')}}" method='POST'>
                                        <div class="col-lg-6">
                                            <div>
                                                <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                                <input type="password" class="form-control" name="oldPassword" id="oldpasswordInput"
                                                    placeholder="Enter current password" required>
                                            </div>
                                        </div>
                                        <br>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div>
                                                <label for="newpasswordInput" class="form-label">New Password*</label>
                                                <input type="password" class="form-control" name="newPassword" id="newpasswordInput"
                                                    placeholder="Enter new password" required>
                                            </div>
                                        </div>
                                        <br>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Confirm
                                                    Password*</label>
                                                <input type="password" name="confirmPassword" class="form-control" id="confirmpasswordInput"
                                                    placeholder="Confirm password" required>
                                            </div>
                                        </div>
                                        <br>
                                        <!--end col-->
{#                                        <div class="col-lg-12">#}
{#                                            <div class="mb-3">#}
{#                                                <a href="{{hi}}"#}
{#                                                    class="link-primary text-decoration-underline">Forgot Password?</a>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <br>
                                        <!--end col-->
                                        <div class="col-lg-12">

                                            <button type="submit" class="btn btn-success btn-border">Change Password</button>

                                        </div>
                                        <!--end col-->
                                        <!--end row-->
                                    </form>
                                </div>
                                <!--end tab-pane-->

                            </div>
                            <!-- container-fluid -->
                        </div><!-- End Page-content -->

                        {% endblock %}