{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-body">
                    <div id="customerList">
                        <div class="row g-4 mb-3">

                            <div class="col-sm">
                                <div class="d-flex justify-content-sm-end">
                                    <div class="search-box ms-2">
                                        <input type="text" class="form-control search" placeholder="Search...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive table-card mt-3 mb-1">
                            <table class="table align-middle table-nowrap" id="customerTable">
                                <thead class="table-light">
                                <tr>
                                    <th class="sort align-center text-center" data-sort="phone" width="120px">Sr No.
                                    </th>

                                    <th class="sort align-center text-center" data-sort="customer_name" width="300px">
                                        Word
                                    </th>
                                    <th class="sort align-center text-center" data-sort="customer_name" width="300px">
                                        City
                                    </th>
                                    <th class="sort align-center text-center" data-sort="customer_name" width="300px">
                                        State
                                    </th>
                                    <th class="align-center text-center" data-sort="phone" width="450px">Link</th>

                                    <th class="align-center text-center" data-sort="action" width="150px">Action</th>
                                </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                {% for i in community_data_data %}
                                    <tr>
                                                                                <td class="id " style="display:none;"><a href="javascript:void(0);"
                                                                                 class="fw-medium link-primary">#VZ2101</a>
                                        </td>
                                        <td class="phone align-center text-center" width="120px">{{ loop.index }}</td>
                                        <td class="customer_name align-center text-center "
                                            width="300px">{{ i.community_name }}</td>

                                        <td class="customer_name align-center text-center "
                                            width="300px">{{ i.city or 'N/A' }}</td>
                                        <td class="customer_name align-center text-center "
                                            width="300px">{{ i.state or 'N/A' }}</td>

                                        <td class="customer_name align-center text-center" width="300px">
    {% if i.link %}
        <a href="{{ i.link }}" target="_blank">{{ i.link }}</a>
    {% else %}
        N/A
    {% endif %}
</td>



                                        <td>
                                            <div class="d-flex gap-2 justify-content-center">
                                                <div class="edit">
                                                    <button class="btn btn-sm btn-success edit-item-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#showModal1{{ i.id }}">Add link
                                                    </button>
                                                </div>
                                                <div class="remove">
                                                    <button class="btn btn-sm btn-danger remove-item-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deleteRecordModal{{ i.id }}">Remove link
                                                    </button>
                                                </div>


{#                                                <div class="add">#}
{#                                                    <a class="btn btn-sm btn-success add-item-btn"#}
{#                                                            href="{{ url_for('admin_views_v4.add_questions',id = i.id) }}"#}
{#                                                    >Add & View Questions#}
{#                                                    </a>#}
{#                                                </div>#}

                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade zoomIn" id="deleteRecordModal{{ i.id }}" tabindex="-1"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close" id="btn-close"></button>
                                                </div>
                                                <form method="POST"
                                                      action="{{ url_for('admin_views_v4.delete_things_community_link',id=i.id) }}">

                                                    <div class="modal-body">
                                                        <div class="mt-2 text-center">
                                                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                                                                       trigger="loop"
                                                                       colors="primary:#f7b84b,secondary:#f06548"
                                                                       style="width:100px;height:100px"></lord-icon>
                                                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                                                <h4>Are you Sure ?</h4>
                                                                <p class="text-muted mx-4 mb-0">Are you Sure You want to
                                                                    Remove this Record ?</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                                            <button type="button" class="btn w-sm btn-light"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn w-sm btn-danger "
                                                                    id="delete-record">Yes, Delete It!
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="showModal1{{ i.id }}" tabindex="-1"
                                                         aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header bg-light p-3">
                                                                   <h5 class="modal-title">Add or Update Link</h5>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal" aria-label="Close"
                                                                            id="close-modal"></button>
                                                                </div>
                                                                <form action="{{ url_for('admin_views_v4.admin_things_community_list',category_id= i.category_id) }}"
                                                                      method="POST" enctype="multipart/form-data">
                                                                    <div class="modal-body">

                                                                        <div class="mb-3">
                                                                            <label for="category" class="form-label">Link
                                                                            </label
                                                                            >
                                                                            <input
                                                                                    type="text"
                                                                                    name="link"
                                                                                    value="{{ i['link'] or '' }}"
                                                                                    id="category"
                                                                                    class="form-control"
                                                                                    placeholder="Enter link"
                                                                                    required
                                                                            />
                                                                        </div>



                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="hstack gap-2 justify-content-end">
                                                                            <button
                                                                                    type="button"
                                                                                    class="btn btn-light"
                                                                                    data-bs-dismiss="modal"
                                                                                    value="submit"
                                                                            >
                                                                                Close
                                                                            </button>
                                                                            <button
                                                                                    type="submit"
                                                                                    class="btn btn-success"
                                                                                    id="add-btn"
                                                                                    value="submit"
                                                                            >
                                                                                Update
                                                                            </button>
                                                                            <input type="hidden" name="community_id"
                                                                                   value="{{ i['id'] }}"/>


                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                               colors="primary:#121331,secondary:#08a88a"
                                               style="width:75px;height:75px"></lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                        orders for you search.</p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}